# error analysis 
series_idごとのoof scoreをチェック
errorがどういう波形に対して発生しているかを確認する

In [1]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
import sys
sys.path.append("/kaggle/src/dss_utils")

from dss_metrics import score

# Config

In [3]:
output_dir = os.path.join("/kaggle", "working", "_oof")
exp_name = "exp009_normal_2input"
# exp_name = "debug"

In [4]:
oof_df = pd.DataFrame()
for i in range(5):
    print("fold", i)
    df = pd.read_parquet(os.path.join(output_dir, exp_name, f"oof_df_fold{i}.parquet"))
    for col in df.columns:
        # 64bit float -> 16bit float
        if df[col].dtype == np.float64:
            df[col] = df[col].astype(np.float16)
        # 64bit int -> 16bit int
        elif df[col].dtype == np.int64:
            df[col] = df[col].astype(np.int16)

    oof_df = pd.concat([oof_df, df], axis=0)

fold 0
fold 1
fold 2
fold 3
fold 4

In [5]:
train_event_df = pd.read_csv("/kaggle/input/child-mind-institute-detect-sleep-states/train_events.csv")

In [6]:
# sub_df = pd.read_csv(os.path.join(output_dir, exp_name, "sub_df.csv"))

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/working/_oof/exp009_normal_2input/sub_df.csv'

In [ ]:
score_df = pd.read_csv(os.path.join(output_dir, exp_name, "score_df.csv"))
display(score_df)

        series_id     score  detected_event_num
0    038441c925bb  0.631418                 264
1    03d92c9f6f8a  0.000000                   0
2    0402a003dae9  0.503222                 213
3    04f547b8017d  0.000000                   0
4    05e1944c3818  0.000000                   0
..            ...       ...                 ...
264  fa149c3c4bde  0.000000                   0
265  fb223ed2278c  0.000000                   0
266  fbf33b1a2c10  0.000000                   0
267  fcca183903b7  0.000000                   0
268  fe90110788d2  0.000000                   0

[269 rows x 3 columns]

In [ ]:
# scoreの高い方から順に表示
score_df = score_df.sort_values("score", ascending=False)
for series_id in score_df.head(5)["series_id"]:
    break
    df = oof_df[oof_df["series_id"]==series_id]
    print("score", score_df[score_df["series_id"]==series_id]["score"])
    # plt.figure(figsize=(10, 5))
    # plt.subplot(3, 1, 1)
    # plt.plot(df["anglez"])
    # plt.subplot(3, 1, 2)
    # plt.plot(df["enmo"])
    # plt.subplot(3, 1, 3)
    # plt.plot(df["event"], label="event")
    # plt.plot(df["class_pred"], label="class_pred")
    # plt.legend()
    # plt.show()

In [ ]:
score_df = score_df[score_df["series_id"].isin(oof_df["series_id"].unique())]
display(score_df)

        series_id     score  detected_event_num
184  bb5612895813  0.912185                 180
221  d8de352c2657  0.856157                 155
114  72ba4a8afff4  0.851263                 168
93   5c55a5e717d6  0.817334                 200
208  ce9164297046  0.816196                 264
232  dff367373725  0.808056                 183
193  c38707ef76df  0.806144                 310
21   1319a1935f48  0.801524                 328
144  8fb18e36697d  0.787695                 166
212  d0f613c700f7  0.780506                 321
170  a9e5f5314bcb  0.778285                 111
226  db75092f0530  0.761312                 315
127  7fd4284b7ee8  0.747404                 135
243  e69aff66e0cb  0.746432                 182
112  702bb5387b1e  0.744591                 230
122  77ca4db83644  0.744581                 209
70   40dce6018935  0.744395                 214
191  c289c8a823e0  0.738056                 276
204  ca732a3c37f7  0.732188                 179
32   18b61dd5aae8  0.732125                 296
248  ebb6fae8ed43  0.731359                 285
5    062cae666e2a  0.729672                  57
188  bfa54bd26187  0.729224                 203
80   4b45c36f8f5a  0.726994                 228
131  844f54dcab89  0.726638                 212
209  cf13ed7e457a  0.725000                 201
250  ece2561f07e9  0.695943                 161
125  785c9ca4eff7  0.689111                 222
107  6a4cd123bd69  0.680314                 220
39   207eded97727  0.676963                 274
166  a681f9b04b21  0.676302                 225
197  c68260cc9e8f  0.674058                 141
28   1716cd4163b2  0.666261                 255
18   1087d7b0ff2e  0.656428                 298
85   51fdcc8d9fe7  0.640186                 211
9    0cd1e3d0ed95  0.637937                 115
263  f981a0805fd0  0.637500                 133
13   0dee4fda51c3  0.634747                 231
0    038441c925bb  0.631418                 264
249  ebd76e93ec7d  0.630686                 222
84   51c49c540b4e  0.626859                 113
260  f7eb179216c2  0.626302                 309
79   4ac356361be9  0.622873                 333
171  aa81faa78747  0.616569                 128
199  c7b2155a4a47  0.604926                 398
140  8b8b9e29171c  0.585748                  80
210  cfeb11428dd7  0.579846                 213
71   416354edd92a  0.572952                 340
168  a88088855de5  0.554167                  34
38   1f96b9668bdf  0.521734                 216
2    0402a003dae9  0.503222                 213
6    062dbd4c95e6  0.396598                 264
181  b7fc34995d0f  0.208056                  78
132  854206f602d0  0.146364                 205

# low score seires_ids

In [ ]:
score_df = score_df.sort_values("score")
count = 0
seires_date_key_list = []
for series_id in score_df.head(100)["series_id"]:
    df = oof_df[oof_df["series_id"]==series_id]
    if len(df) == 0:
        continue
    else:
        count += 1
    event = train_event_df[train_event_df["series_id"]==series_id]
    display(event)
    print("score", score_df[score_df["series_id"]==series_id]["score"])
    # plt.figure(figsize=(10, 5))
    # plt.subplot(3, 1, 1)
    # plt.plot(df["step"], df["anglez"])
    # plt.subplot(3, 1, 2)
    # plt.plot(df["step"], df["enmo"])
    # plt.subplot(3, 1, 3)
    # plt.plot(df["step"], df["event"], label="event")
    # plt.plot(df["step"], df["class_pred"], label="class_pred")
    # plt.legend()
    # plt.show()
    seires_date_key_list.extend(df["series_date_key"].unique())
    if count == 10:
        break

         series_id  night   event     step                 timestamp
6923  854206f602d0      1   onset   5016.0  2018-09-21T19:58:00-0400
6924  854206f602d0      1  wakeup  12444.0  2018-09-22T06:17:00-0400
6925  854206f602d0      2   onset      NaN                       NaN
6926  854206f602d0      2  wakeup      NaN                       NaN
6927  854206f602d0      3   onset      NaN                       NaN
...            ...    ...     ...      ...                       ...
6998  854206f602d0     38  wakeup      NaN                       NaN
6999  854206f602d0     39   onset      NaN                       NaN
7000  854206f602d0     39  wakeup      NaN                       NaN
7001  854206f602d0     40   onset      NaN                       NaN
7002  854206f602d0     40  wakeup      NaN                       NaN

[80 rows x 5 columns]

score 132    0.146364
Name: score, dtype: float64

         series_id  night   event     step                 timestamp
9452  b7fc34995d0f      1   onset      NaN                       NaN
9453  b7fc34995d0f      1  wakeup      NaN                       NaN
9454  b7fc34995d0f      2   onset  24636.0  2018-06-28T21:58:00-0400
9455  b7fc34995d0f      2  wakeup  31272.0  2018-06-29T07:11:00-0400
9456  b7fc34995d0f      3   onset  43368.0  2018-06-29T23:59:00-0400
...            ...    ...     ...      ...                       ...
9515  b7fc34995d0f     32  wakeup      NaN                       NaN
9516  b7fc34995d0f     33   onset      NaN                       NaN
9517  b7fc34995d0f     33  wakeup      NaN                       NaN
9518  b7fc34995d0f     34   onset      NaN                       NaN
9519  b7fc34995d0f     34  wakeup      NaN                       NaN

[68 rows x 5 columns]

score 181    0.208056
Name: score, dtype: float64

        series_id  night   event     step                 timestamp
310  062dbd4c95e6      1   onset   7872.0  2018-08-22T23:11:00-0400
311  062dbd4c95e6      1  wakeup  14484.0  2018-08-23T08:22:00-0400
312  062dbd4c95e6      2   onset      NaN                       NaN
313  062dbd4c95e6      2  wakeup      NaN                       NaN
314  062dbd4c95e6      3   onset      NaN                       NaN
..            ...    ...     ...      ...                       ...
393  062dbd4c95e6     42  wakeup      NaN                       NaN
394  062dbd4c95e6     43   onset      NaN                       NaN
395  062dbd4c95e6     43  wakeup      NaN                       NaN
396  062dbd4c95e6     44   onset      NaN                       NaN
397  062dbd4c95e6     44  wakeup      NaN                       NaN

[88 rows x 5 columns]

score 6    0.396598
Name: score, dtype: float64

        series_id  night   event      step                 timestamp
120  0402a003dae9      1   onset    8364.0  2018-12-19T00:22:00-0500
121  0402a003dae9      1  wakeup   12948.0  2018-12-19T06:44:00-0500
122  0402a003dae9      2   onset   24396.0  2018-12-19T22:38:00-0500
123  0402a003dae9      2  wakeup   29964.0  2018-12-20T06:22:00-0500
124  0402a003dae9      3   onset       NaN                       NaN
125  0402a003dae9      3  wakeup       NaN                       NaN
126  0402a003dae9      4   onset       NaN                       NaN
127  0402a003dae9      4  wakeup       NaN                       NaN
128  0402a003dae9      5   onset       NaN                       NaN
129  0402a003dae9      5  wakeup       NaN                       NaN
130  0402a003dae9      6   onset   94032.0  2018-12-23T23:21:00-0500
131  0402a003dae9      6  wakeup   96180.0  2018-12-24T02:20:00-0500
132  0402a003dae9      7   onset  112992.0  2018-12-25T01:41:00-0500
133  0402a003dae9      7  wakeup  116364.0  2018-12-25T06:22:00-0500
134  0402a003dae9      8   onset  128268.0  2018-12-25T22:54:00-0500
135  0402a003dae9      8  wakeup  134004.0  2018-12-26T06:52:00-0500
136  0402a003dae9      9   onset  143436.0  2018-12-26T19:58:00-0500
137  0402a003dae9      9  wakeup  147504.0  2018-12-27T01:37:00-0500
138  0402a003dae9     10   onset  162420.0  2018-12-27T22:20:00-0500
139  0402a003dae9     10  wakeup  168252.0  2018-12-28T06:26:00-0500
140  0402a003dae9     11   onset  179880.0  2018-12-28T22:35:00-0500
141  0402a003dae9     11  wakeup  185892.0  2018-12-29T06:56:00-0500
142  0402a003dae9     12   onset  196632.0  2018-12-29T21:51:00-0500
143  0402a003dae9     12  wakeup  204864.0  2018-12-30T09:17:00-0500
144  0402a003dae9     13   onset  214752.0  2018-12-30T23:01:00-0500
145  0402a003dae9     13  wakeup  220500.0  2018-12-31T07:00:00-0500
146  0402a003dae9     14   onset  233976.0  2019-01-01T01:43:00-0500
147  0402a003dae9     14  wakeup  238404.0  2019-01-01T07:52:00-0500
148  0402a003dae9     15   onset  248712.0  2019-01-01T22:11:00-0500
149  0402a003dae9     15  wakeup  253620.0  2019-01-02T05:00:00-0500
150  0402a003dae9     16   onset  267948.0  2019-01-03T00:54:00-0500
151  0402a003dae9     16  wakeup  272868.0  2019-01-03T07:44:00-0500
152  0402a003dae9     17   onset  284388.0  2019-01-03T23:44:00-0500
153  0402a003dae9     17  wakeup  291444.0  2019-01-04T09:32:00-0500
154  0402a003dae9     18   onset  306576.0  2019-01-05T06:33:00-0500
155  0402a003dae9     18  wakeup  309372.0  2019-01-05T10:26:00-0500
156  0402a003dae9     19   onset       NaN                       NaN
157  0402a003dae9     19  wakeup       NaN                       NaN
158  0402a003dae9     20   onset  338328.0  2019-01-07T02:39:00-0500
159  0402a003dae9     20  wakeup  343212.0  2019-01-07T09:26:00-0500
160  0402a003dae9     21   onset  356052.0  2019-01-08T03:16:00-0500
161  0402a003dae9     21  wakeup  358956.0  2019-01-08T07:18:00-0500
162  0402a003dae9     22   onset  375060.0  2019-01-09T05:40:00-0500
163  0402a003dae9     22  wakeup  376920.0  2019-01-09T08:15:00-0500
164  0402a003dae9     23   onset       NaN                       NaN
165  0402a003dae9     23  wakeup       NaN                       NaN
166  0402a003dae9     24   onset       NaN                       NaN
167  0402a003dae9     24  wakeup       NaN                       NaN

score 2    0.503222
Name: score, dtype: float64

         series_id  night   event      step                 timestamp
2008  1f96b9668bdf      2   onset       NaN                       NaN
2009  1f96b9668bdf      2  wakeup       NaN                       NaN
2010  1f96b9668bdf      3   onset       NaN                       NaN
2011  1f96b9668bdf      3  wakeup       NaN                       NaN
2012  1f96b9668bdf      4   onset       NaN                       NaN
...            ...    ...     ...       ...                       ...
2069  1f96b9668bdf     32  wakeup  546516.0  2018-09-25T06:18:00-0400
2070  1f96b9668bdf     33   onset       NaN                       NaN
2071  1f96b9668bdf     33  wakeup       NaN                       NaN
2072  1f96b9668bdf     34   onset       NaN                       NaN
2073  1f96b9668bdf     34  wakeup       NaN                       NaN

[66 rows x 5 columns]

score 38    0.521734
Name: score, dtype: float64

         series_id  night   event     step                 timestamp
8838  a88088855de5      1   onset   3144.0  2017-11-07T22:07:00-0400
8839  a88088855de5      1  wakeup   9564.0  2017-11-08T07:02:00-0400
8840  a88088855de5      2   onset  20784.0  2017-11-08T22:37:00-0400
8841  a88088855de5      2  wakeup  26808.0  2017-11-09T06:59:00-0400
8842  a88088855de5      3   onset  37524.0  2017-11-09T21:52:00-0400
8843  a88088855de5      3  wakeup  44136.0  2017-11-10T07:03:00-0400
8844  a88088855de5      4   onset      NaN                       NaN
8845  a88088855de5      4  wakeup      NaN                       NaN
8846  a88088855de5      5   onset      NaN                       NaN
8847  a88088855de5      5  wakeup      NaN                       NaN
8848  a88088855de5      6   onset      NaN                       NaN
8849  a88088855de5      6  wakeup      NaN                       NaN
8850  a88088855de5      7   onset      NaN                       NaN
8851  a88088855de5      7  wakeup      NaN                       NaN
8852  a88088855de5      8   onset      NaN                       NaN
8853  a88088855de5      8  wakeup      NaN                       NaN
8854  a88088855de5      9   onset      NaN                       NaN
8855  a88088855de5      9  wakeup      NaN                       NaN
8856  a88088855de5     10   onset      NaN                       NaN
8857  a88088855de5     10  wakeup      NaN                       NaN
8858  a88088855de5     11   onset      NaN                       NaN
8859  a88088855de5     11  wakeup      NaN                       NaN

score 168    0.554167
Name: score, dtype: float64

         series_id  night   event      step                 timestamp
3744  416354edd92a      1   onset    6252.0  2018-10-28T00:26:00-0400
3745  416354edd92a      1  wakeup   11832.0  2018-10-28T08:11:00-0400
3746  416354edd92a      2   onset       NaN                       NaN
3747  416354edd92a      2  wakeup       NaN                       NaN
3748  416354edd92a      3   onset       NaN                       NaN
...            ...    ...     ...       ...                       ...
3809  416354edd92a     33  wakeup  565104.0  2018-11-29T07:37:00-0500
3810  416354edd92a     34   onset  577140.0  2018-11-30T00:20:00-0500
3811  416354edd92a     34  wakeup  583284.0  2018-11-30T08:52:00-0500
3812  416354edd92a     35   onset  593724.0  2018-11-30T23:22:00-0500
3813  416354edd92a     35  wakeup  598176.0  2018-12-01T05:33:00-0500

[70 rows x 5 columns]

score 71    0.572952
Name: score, dtype: float64

          series_id  night   event     step                 timestamp
11072  cfeb11428dd7      1   onset   7200.0  2018-05-03T22:00:00-0400
11073  cfeb11428dd7      1  wakeup  13896.0  2018-05-04T07:18:00-0400
11074  cfeb11428dd7      2   onset  27672.0  2018-05-05T02:26:00-0400
11075  cfeb11428dd7      2  wakeup  31260.0  2018-05-05T07:25:00-0400
11076  cfeb11428dd7      3   onset  41748.0  2018-05-05T21:59:00-0400
...             ...    ...     ...      ...                       ...
11161  cfeb11428dd7     45  wakeup      NaN                       NaN
11162  cfeb11428dd7     46   onset      NaN                       NaN
11163  cfeb11428dd7     46  wakeup      NaN                       NaN
11164  cfeb11428dd7     47   onset      NaN                       NaN
11165  cfeb11428dd7     47  wakeup      NaN                       NaN

[94 rows x 5 columns]

score 210    0.579846
Name: score, dtype: float64

         series_id  night   event     step                 timestamp
7454  8b8b9e29171c      1   onset   9396.0  2018-04-26T00:18:00-0400
7455  8b8b9e29171c      1  wakeup  14568.0  2018-04-26T07:29:00-0400
7456  8b8b9e29171c      2   onset  27060.0  2018-04-27T00:50:00-0400
7457  8b8b9e29171c      2  wakeup  32244.0  2018-04-27T08:02:00-0400
7458  8b8b9e29171c      3   onset  44544.0  2018-04-28T01:07:00-0400
...            ...    ...     ...      ...                       ...
7521  8b8b9e29171c     34  wakeup      NaN                       NaN
7522  8b8b9e29171c     35   onset      NaN                       NaN
7523  8b8b9e29171c     35  wakeup      NaN                       NaN
7524  8b8b9e29171c     36   onset      NaN                       NaN
7525  8b8b9e29171c     36  wakeup      NaN                       NaN

[72 rows x 5 columns]

score 140    0.585748
Name: score, dtype: float64

          series_id  night   event      step                 timestamp
10496  c7b2155a4a47      1   onset    7560.0  2017-08-25T22:15:00-0400
10497  c7b2155a4a47      1  wakeup   10236.0  2017-08-26T01:58:00-0400
10498  c7b2155a4a47      2   onset   20556.0  2017-08-26T16:18:00-0400
10499  c7b2155a4a47      2  wakeup   30000.0  2017-08-27T05:25:00-0400
10500  c7b2155a4a47      3   onset   38076.0  2017-08-27T16:38:00-0400
10501  c7b2155a4a47      3  wakeup   45000.0  2017-08-28T02:15:00-0400
10502  c7b2155a4a47      4   onset   55164.0  2017-08-28T16:22:00-0400
10503  c7b2155a4a47      4  wakeup   64284.0  2017-08-29T05:02:00-0400
10504  c7b2155a4a47      5   onset   71748.0  2017-08-29T15:24:00-0400
10505  c7b2155a4a47      5  wakeup   80568.0  2017-08-30T03:39:00-0400
10506  c7b2155a4a47      6   onset   90084.0  2017-08-30T16:52:00-0400
10507  c7b2155a4a47      6  wakeup   97932.0  2017-08-31T03:46:00-0400
10508  c7b2155a4a47      7   onset  107412.0  2017-08-31T16:56:00-0400
10509  c7b2155a4a47      7  wakeup  114972.0  2017-09-01T03:26:00-0400
10510  c7b2155a4a47      8   onset  124548.0  2017-09-01T16:44:00-0400
10511  c7b2155a4a47      8  wakeup  130836.0  2017-09-02T01:28:00-0400
10512  c7b2155a4a47      9   onset  146604.0  2017-09-02T23:22:00-0400
10513  c7b2155a4a47      9  wakeup  153132.0  2017-09-03T08:26:00-0400
10514  c7b2155a4a47     10   onset  162180.0  2017-09-03T21:00:00-0400
10515  c7b2155a4a47     10  wakeup  169704.0  2017-09-04T07:27:00-0400
10516  c7b2155a4a47     11   onset  179004.0  2017-09-04T20:22:00-0400
10517  c7b2155a4a47     11  wakeup  186960.0  2017-09-05T07:25:00-0400
10518  c7b2155a4a47     12   onset       NaN                       NaN
10519  c7b2155a4a47     12  wakeup       NaN                       NaN
10520  c7b2155a4a47     13   onset  214824.0  2017-09-06T22:07:00-0400
10521  c7b2155a4a47     13  wakeup  221292.0  2017-09-07T07:06:00-0400
10522  c7b2155a4a47     14   onset  232656.0  2017-09-07T22:53:00-0400
10523  c7b2155a4a47     14  wakeup  239220.0  2017-09-08T08:00:00-0400
10524  c7b2155a4a47     15   onset  249360.0  2017-09-08T22:05:00-0400
10525  c7b2155a4a47     15  wakeup  256584.0  2017-09-09T08:07:00-0400
10526  c7b2155a4a47     16   onset  265944.0  2017-09-09T21:07:00-0400
10527  c7b2155a4a47     16  wakeup  273900.0  2017-09-10T08:10:00-0400
10528  c7b2155a4a47     17   onset  284280.0  2017-09-10T22:35:00-0400
10529  c7b2155a4a47     17  wakeup  292140.0  2017-09-11T09:30:00-0400
10530  c7b2155a4a47     18   onset  300120.0  2017-09-11T20:35:00-0400
10531  c7b2155a4a47     18  wakeup  307968.0  2017-09-12T07:29:00-0400
10532  c7b2155a4a47     19   onset  317808.0  2017-09-12T21:09:00-0400
10533  c7b2155a4a47     19  wakeup  325644.0  2017-09-13T08:02:00-0400
10534  c7b2155a4a47     20   onset       NaN                       NaN
10535  c7b2155a4a47     20  wakeup       NaN                       NaN
10536  c7b2155a4a47     21   onset  353772.0  2017-09-14T23:06:00-0400
10537  c7b2155a4a47     21  wakeup  361104.0  2017-09-15T09:17:00-0400
10538  c7b2155a4a47     22   onset  371244.0  2017-09-15T23:22:00-0400
10539  c7b2155a4a47     22  wakeup  376812.0  2017-09-16T07:06:00-0400
10540  c7b2155a4a47     23   onset  387756.0  2017-09-16T22:18:00-0400
10541  c7b2155a4a47     23  wakeup  395856.0  2017-09-17T09:33:00-0400
10542  c7b2155a4a47     24   onset       NaN                       NaN
10543  c7b2155a4a47     24  wakeup       NaN                       NaN
10544  c7b2155a4a47     25   onset       NaN                       NaN
10545  c7b2155a4a47     25  wakeup       NaN                       NaN

score 199    0.604926
Name: score, dtype: float64

In [ ]:
key_tmp = None
show_idx = 10
count = 0
show_num = 5
low_score_key_list = []
for idx, key in enumerate(seires_date_key_list):
    if count > show_num:
        break
    df = oof_df[oof_df["series_date_key"]==key]
    series_id = df["series_id"].unique()[0]
    min_step = df["step"].min()
    max_step = df["step"].max()
    event = train_event_df[train_event_df["series_id"]==series_id]
    event = event[(event["step"]>=min_step) & (event["step"]<=max_step)]
    if len(event) == 0:
        continue
    
    sub = sub_df[sub_df["series_id"]==series_id]
    sub = sub[(sub["step"]>=min_step) & (sub["step"]<=max_step)]
    sub = sub.sort_values("score", ascending=True)[:5]
    score = score_df[score_df["series_id"]==series_id]["score"].values[0]
    low_score_key_list.append(key)

    # display(event)
    # display(sub)
    # print("score", score)
    # print("series_date_key", key)
    # plt.figure(figsize=(10, 5))
    # plt.subplot(3, 1, 1)
    # plt.plot(df["step"], df["anglez"])
    # plt.subplot(3, 1, 2)
    # plt.plot(df["step"], df["enmo"])
    # plt.subplot(3, 1, 3)
    # plt.plot(df["step"], df["event"], label="event")
    # plt.plot(df["step"], df["class_pred"], label="class_pred")
    # plt.legend()
    # plt.show()

In [ ]:
low_score_key_df = pd.DataFrame(
    {
        "series_date_key": low_score_key_list
    }
).to_csv(os.path.join(output_dir, exp_name, "low_score_keys.csv"))

In [ ]:
print(low_score_key_df, seires_date_key_list)

None [3713, 3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 3752, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 4735, 4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744, 4745, 4746, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 5912, 5913, 5914, 5915, 5916, 5917, 5918, 5919, 5920, 5921, 5922, 5923, 5924, 5925, 5926, 5927, 5928, 5929, 5930, 5931, 5932, 5933, 5934, 5935, 5936, 5937, 5938, 5939, 5940, 5941, 5942, 5943, 5944, 5945, 5946, 5947, 5948, 5949, 5950, 5951, 5952, 5953, 5954, 5955, 5956, 5957, 5958, 5959, 3988, 3989, 3990, 3991, 3992, 3993, 3994, 3995, 3996, 3997, 3998, 3999, 4000, 4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 5611, 5612, 5613, 5614, 5615, 5616, 5617, 5618, 5619, 5620, 5621, 5622, 5623, 5624, 5625, 5626, 5627, 5628, 5629, 5630, 5631, 5632, 5633, 5634, 5635]