# check dataloader

In [1]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
series_df = pd.read_parquet(
        "/kaggle/input/preprocessed_train_series_le_200.parquet"
    )
print("series_df loaded.")
print("series_df", series_df.head())

series_df loaded.
series_df       series_id  step                 timestamp  anglez    enmo  \
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

   anglez_absdiff  enmo_absdiff  anglez_absdiff_ave  enmo_absdiff_ave  event  \
0          0.0000        0.0000                 0.0               0.0    0.0
1          0.0001        0.0002                 0.0               0.0    0.0
2          0.0002        0.0001                 0.0               0.0    0.0
3          0.0002        0.0003                 0.0               0.0    0.0
4          0.0000        0.0002                 0.0               0.0    0.0

   event_onset  event_wakeup        date  series_date_key  \
0            0             0  2018-08-14                0
1            0             0  2018-08-14                0
2            0             0  2018-08-14                0
3            0             0  2018-08-14                0
4            0             0  2018-08-14                0

       series_date_key_str
0  038441c925bb_2018-08-14
1  038441c925bb_2018-08-14
2  038441c925bb_2018-08-14
3  038441c925bb_2018-08-14
4  038441c925bb_2018-08-14

In [3]:
key_df = series_df[["series_date_key", "series_date_key_str"]].drop_duplicates()
print("key_df from series_df", key_df.head())

key_df from series_df        series_date_key      series_date_key_str
0                    0  038441c925bb_2018-08-14
6120                 1  038441c925bb_2018-08-15
23400                2  038441c925bb_2018-08-16
40680                3  038441c925bb_2018-08-17
57960                4  038441c925bb_2018-08-18

In [8]:
key_df = key_df.reset_index(drop=True)
key_df["series_id"], key_df["date"] = key_df["series_date_key_str"].str.split("_", 1).str
print("key_df", key_df.head())

key_df    series_date_key      series_date_key_str     series_id        date
0                0  038441c925bb_2018-08-14  038441c925bb  2018-08-14
1                1  038441c925bb_2018-08-15  038441c925bb  2018-08-15
2                2  038441c925bb_2018-08-16  038441c925bb  2018-08-16
3                3  038441c925bb_2018-08-17  038441c925bb  2018-08-17
4                4  038441c925bb_2018-08-18  038441c925bb  2018-08-18

/tmp/ipykernel_19938/1018861568.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  key_df["series_id"], key_df["date"] = key_df["series_date_key_str"].str.split("_", 1).str
/tmp/ipykernel_19938/1018861568.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  key_df["series_id"], key_df["date"] = key_df["series_date_key_str"].str.split("_", 1).str

In [5]:
key_df["series_date_key_str"].str.split("_", expand=True)

                 0           1
0     038441c925bb  2018-08-14
1     038441c925bb  2018-08-15
2     038441c925bb  2018-08-16
3     038441c925bb  2018-08-17
4     038441c925bb  2018-08-18
...            ...         ...
5464  c535634d7dcd  2019-07-01
5465  c535634d7dcd  2019-07-02
5466  c535634d7dcd  2019-07-03
5467  c535634d7dcd  2019-07-04
5468  c535634d7dcd  2019-07-05

[5469 rows x 2 columns]